version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: arma_postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: arma_backend
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: arma_frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"

volumes:
  postgres_data:
